In [41]:
import pandas as pd
import numpy as np

In [42]:
df=pd.read_csv(r"C:\Users\katka\Desktop\github projrct\Self_Project\PowerBI\hotel_bookings.csv")

In [43]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [44]:
# Handle missing values
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [45]:
# Fill missing values in 'children' column with 0
df.fillna({'children': 0}, inplace=True)

In [46]:
# Fill missing values in country column with unknown
df.fillna({'country': 'Unknown'}, inplace=True)

In [47]:
# Fill missing values in agent and company columns with 0
df.fillna({'agent': 0, 'company': 0}, inplace=True)

In [48]:
# Convert 'agent' and 'company' columns to string type
df['agent'] = df['agent'].astype(str)
df['company'] = df['company'].astype(str)

In [49]:
# Verify no missing values remain
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [50]:
# convert reservation_status_date to datetime
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])

In [51]:
# Replace undefined meal type with no meal
df.replace({'meal': {'Undefined': 'No Meal'}}, inplace=True)

In [52]:
# Remove bookings with negative adr (average daily rate)
df = df[df['adr'] >= 0]

In [53]:
# Capatalize adr at 1000 to remove outliers
df.loc[df['adr'] > 1000, 'adr'] = 1000

In [54]:
# Capatalize lead_time at 365 days 
df.loc[df['lead_time'] > 365, 'lead_time'] = 365

In [55]:
# lets save the cleaned data in csv file
df.to_csv('cleaned_hotel_bookings.csv', index=False)